.env
.env.deploy
**/.vimsession
.vs

# Generated project files by .NET
**/obj/**
**/bin/**
**/Properties/**

# Generated project files by NodeJS
**/node_modules/**

# Development Generated Data
.devel-data/
